// Here you can add other styles

.ngx-datatable {
  &.bootstrap {
    .datatable-header {
      .datatable-header-cell {
        background-color: #c2cfd6;
        border-color: #a4b7c1;
        .datatable-header-cell-label {
          font-weight: bold;
        }
      }
    }
  }
}

.modal-full {
  min-width: 100%;
  margin: 0;

  .modal-content {
    min-height: 100vh;
    position: relative;

    .modal-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}


.invalid-feedback {
  display: block !important;
}

// Validation

$invalid-color: #f86c6b;

ng-select.ng-invalid.ng-touched {
  .ng-select-container {
    border-color: $invalid-color;
  }
}

// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948; /* green */
// }

.ng-invalid.ng-touched:not(form)  {
  border-color: $invalid-color;
}
